* {
	margin: 0;
	padding: 0;
}

img {
	image-rendering: auto !important;
  image-rendering: crisp-edges !important;
}

#header {
	float: left;
	width: 100%;
	height: 112px;
	background-color: #057200;
}

.headername {
	color: white;
	text-align: center;
	background-color: ;
	width: 700px;
	margin-top: 13px;
	margin-left: 420px;
	font-size: 18px;
	height: 94px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.headername h4 {
	font-style: italic;
	margin-top: 8px;
}

#middle {
	float: left;
	width: 100%;
	height: 514px;
	background: url(images/new2.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border-top: 3px solid #2D2F00;
    border-bottom: 5px solid #2D2F00;
    image-rendering: auto !important;
  image-rendering: crisp-edges !important;
  
}

.box1 {
	float: left;
	height: 420px;
	width: 340px;
	background-color: white;
	margin-top: 36px;
	margin-left: 240px;
	border: 2px solid #3B3600;
}

.box2 {
	float: right;
	height: 420px;
	width: 340px;
	background-color: white;
	margin-top: 36px;
	margin-right: 240px;
	border: 2px solid #3B3600;
}

.image {
	width: 320px;
	height: 250px;
	margin: 10px;
	background-color: yellow;
}

.image img {
	margin: 0;
}

.desc {
	margin: 0px 10px 10px 10px;
	background-color: white;
	width: 320px;
	height: 110px;
	float: left;
	border-top: 2px solid #3B3600;
	padding-top: 6px;
	font-size: 14px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	color: #3B3600;
}

#footer {
	float: left;
	width: 100%;
	height: 100px;
	background-color: #057200;
}

.footertitle {
	height: 34px;
	width: 200px;
	margin-top: 10px;
	margin-left: 680px;
	color: white;
	background-color: ;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.about {
	height: 34px;
	width: 100px;
	background-color: ;
	color: white;
	float: left;
	margin-left: 300px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-top: -20px;
}

.contact {
	height: 34px;
	width: 100px;
	background-color: ;
	color: white;
	float: right;
	margin-right: 300px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-top: -20px;
}